<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/show-products">Show All Products</a></li>
                <li><a href="/add-product">Add Product</a></li>
                <li><a href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2 id="product-list-head">List of Products</h2>
        <ul id="products"></ul>
    </main>
<script src="/script/script.js"></script>
</body>
</html>