<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <nav class="container py-3">
        <ul class="d-flex flex-row gap-3 list-unstyled">
            <li><a class="btn btn-primary" href="/add-product">Add Product</a></li>
            <li><a class="btn btn-primary" href="/get-product">Get Product</a></li>
            <li><a class="btn btn-primary" href="/get-all-products">Get All Products</a></li>
            <li><a class="btn btn-primary" href="/delete-product">Delete Product</a></li>
        </ul>
    </nav>

    <div class="container">
        <form action="/delete-product" method="post" id="form-add-product" class="d-flex w-50 ms-auto me-auto flex-column gap-3">
            <h4 class="text-danger">Delete Product</h4>
            <input type="text" class="form-control" placeholder="Title" name="title">
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
    </div>
</body>
</html>