<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Appontments</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"
        integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="container py-3">
        <form action="/add-appointment" method="post" id="appointment-form" class="w-50 ms-auto me-auto d-flex flex-column gap-3">
            <h4 class="text-primary">Book Appointment</h4>
            <input type="text" name="username" placeholder="Username" class="form-control">
            <input type="text" name="phone" placeholder="Phone Number" class="form-control">
            <input type="email" name="email" placeholder="email" class="form-control">
            <button type="submit" class="btn btn-success">Book Appointment</button>
        </form>
    </div>
    <div class="container">
        <ol id="appointments" class="d-flex flex-column gap-2">

        </ol>
    </div>
    <script src="/script.js" defer></script>
</body>
</html>